:root {
  --white: #fff;
  --black: #242424;
  --red: #f32c2c;
  --pink: #e54b4b;
  --lightGray: #5d5d5d;
  --veryLightGray: #f5f5f5;
  --darkBlue: #172f47;
  --orange: #fdb139;
  --lightBlue: #3f5165;
  --veryLightBlue: #4a686a;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav {
  background-color: var(--darkBlue);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 90%;
  margin: auto;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

li > a {
  color: var(--white);
}

.scheduleCall {
  background-color: var(--orange);
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 5px;
  outline: transparent;
  color: var(--white);
}

/* Hero Section */
.heroSection {
  width: 90%;
  margin: 150px auto 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #242424;
  font-size: 70px;
  line-height: 80px;
  margin: 0px 0px 1px;
  text-align: start;
}

h1 > span {
  color: var(--orange);
}

.heroText {
  color: var(--lightGray);
  line-height: 32px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.ctaBtn {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 12px 30px;
  font-weight: 400;
  color: var(--white);
}

.banner {
  position: absolute;
  right: 10px;
  bottom: -120px;
}

/* Counter Area */
.counterSectionParent {
  height: 200px;
  background: url("./Assets//Images/ppp.jpg");
  background-size: cover;
  background-position: center;
  margin: 250px 0 100px 0;
}

.counterSection {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 81, 101, 0.8);
}

.counterSectionText {
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.counterSectionNumbers {
  color: var(--orange);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
}

.counterSectionTitle {
  color: var(--white);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}

/* Choose us Section */
.chooseUsSection {
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.chooseUsSectionTitles,
.servicesSectionTitles {
  width: 60%;
  margin: auto;
}

.chooseUsSectionTitle,
.serviesSectionTitle {
  font-size: 1.1rem;
  text-align: center;
  line-height: 22px;
  font-weight: 500;
  color: var(--red);
  margin: 0px 0px 8px;
}

.chooseUsSectionDescription,
.servicesSectionDescription {
  color: var(--black);
  font-family: sans-serif;
  font-size: 2.2rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.chooseUsCardsParent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 30px;
}

.chooseUsCards {
  width: 100%;
  padding: 30px;
}

.chooseUsCardIcon {
  border-radius: 50%;
  margin-bottom: 20px;
}

.chooseUsCardTitle {
  color: var(--black);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0px 0px 15px;
}

.chooseUsCardContent {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

/* Our Services */

.servicesSection {
  width: 90%;
  margin: 120px auto;
}

.serviceCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0px 50px 0px;
}

.serviceCard {
  height: auto;
  margin-left: 15px;
  border-radius: 8px;
  text-align: center;
  padding: 0px 3px;
}

.serviceCard:hover .serviceName {
  color: var(--white);
}

.serviceCard:hover .serviceDescription {
  color: var(--white);
}

.serviceCard:hover .serviceDetailsLink {
  color: var(--white);
}

#carWashing,
#officeCleaning {
  border: 1px solid var(--orange);
  transition: background-color 1s;
}

#carWashing:hover {
  background-color: var(--orange);
}

#officeCleaning:hover {
  background-color: var(--orange);
}

#plumbingService,
#carpetCleaning {
  border: 1px solid var(--lightBlue);
  transition: background-color 1s;
}

#plumbingService:hover {
  background-color: var(--veryLightBlue);
}

#carpetCleaning:hover {
  background-color: var(--veryLightBlue);
}

#houseCleaning,
#windowCleaning {
  border: 1px solid var(--pink);
  transition: background-color 1s;
}

#houseCleaning:hover {
  background-color: var(--pink);
}

#windowCleaning:hover {
  background-color: var(--pink);
}

.serviceImg {
  max-width: 90%;
  display: block;
  margin: 35px auto;
}

.serviceName {
  color: var(--black);
  font-size: 1.4rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  font-family: sans-serif;
}

.serviceDescription {
  color: var(--black);
  font-size: 0.9rem;
  line-height: 27px;
  margin: 8px 0px 12px;
  padding: 0 5px;
  font-weight: 400;
}

.serviceDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceDetailsLink {
  color: var(--lightBlue);
  font-size: 0.9rem;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* About Us Section */

.aboutUsSectionParent {
  background-color: var(--veryLightGray);
}

.aboutUsSection {
  width: 90%;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.aboutUsText {
  width: 50%;
  height: 100%;
}

.aboutUsSectionTitle {
  color: var(--red);
  font-size: 0.9rem;
  margin: 15px 0px 8px;
  font-weight: 600;
}

.aboutUsSectionIntro {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
}

.aboutUsDescription {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 25px;
  margin: 0px 0px 30px;
  font-weight: 400;
}

.aboutUsLearnMore {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 12px 30px;
  font-weight: 400;
  color: var(--white);
}

.aboutUsImgParent {
  width: 50%;
  height: 100%;
}

.aboutUsImg {
  max-width: 100%;
  height: auto;
}

/* Book a quote secion */

.quoteSectionParent {
  height: 110vh;
  margin: 70px 0px 20px 0px;
  background: url("./Assets/Images/pppp.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgba(5, 5, 5, 0.9); */
  display: flex;
}

.formQuoteSection {
  width: 90%;
  margin: auto;
}

.formQuoteSectionTitle {
  width: 50%;
  margin: 0 auto 20px auto;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.formQuoteParent {
  width: 65%;
  margin: auto;
}

.formQuote {
  width: 100%;
  margin: auto;
  text-align: center;
}

.inputParents {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.leftSide,
.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input.formQuoteInput {
  width: 70%;
  padding: 15px 0;
  outline: transparent;
  border-style: none;
  border-radius: 2px;
  font-size: 1rem;
  padding-left: 7px;
}

input.formQuoteInput:focus {
  border: 1px solid var(--orange);
}

input.formQuoteInput::placeholder {
  padding-left: 10px;
}

textarea.formQuoteInput {
  outline: transparent;
  border-style: none;
  border-radius: 2px;
  font-size: 1rem;
  padding-left: 7px;
}

textarea.formQuoteInput:focus {
  border: 1px solid var(--orange);
}

textarea.formQuoteInput::placeholder {
  padding-left: 10px;
}

.formQuoteBtn {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 16px 30px;
  font-weight: 400;
  color: var(--white);
  outline: transparent;
  border-style: none;
  border-radius: 3px;
  width: 40%;
  margin: auto;
  cursor: pointer;
  transition: background-color 1s;
}

.formQuoteBtn:hover {
  background-color: var(--black);
}

/* Footer */

footer {
  background-color: var(--veryLightBlue);
  margin: 100px 0 0 0;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.companyFooterDescription {
  color: var(--white);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

.footerColumn {
  width: 20%;
  margin: 50px 0px 0px 10px;
}

.footerColumnTitle {
  color: var(--orange);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin: 10px 0px 20px;
  font-weight: 700;
}

.supportListItem,
.location,
.email,
.mobile{
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  padding-top: 5px;
  color: var(--white);
}

.contactIcons{
  margin: 10px 0;

}

.socialIcons{
    background-color: var(--white);
    cursor: pointer;
    margin: 0 5px;
}