:root {
  --white: #fff;
  --black: #242424;
  --red: #f32c2c;
  --pink: #e54b4b;
  --lightGray: #5d5d5d;
  --veryLightGray: #f5f5f5;
  --darkBlue: #172f47;
  --orange: #fdb139;
  --lightBlue: #3f5165;
  --veryLightBlue: #4a686a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

nav {
  background-color: var(--darkBlue);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  width: 90%;
  margin: auto;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

a .logoText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  margin: 10px 0;
}

a .navLinkItem {
  color: var(--white);
}

.scheduleCall {
  background-color: var(--orange);
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 5px;
  outline: transparent;
  color: var(--white);
}

.menuIconContainer {
  display: none;
}

#xIcon {
  display: none;
}

/* Mobile nav */
.mobileNavListContainer {
  width: 100%;
  height: 270px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  background-color: var(--white);
  top: 100%;
  right: 20%;
  z-index: 1;
  margin: auto;
  padding: 0 5px;
}

.mobileNavList li {
  height: 100%;
  width: 100%;
  margin: 6px 0;
}

.mobileNavLinkItem a {
  width: 100%;
  display: block;
  color: var(--black);
  padding: 10px 0;
  font-size: .7rem;
}

a.mobileScheduleCall {
  background-color: var(--orange);
  padding: 13px 7px;
  font-size: .8rem;
  border-radius: 3px;
  outline: transparent;
  color: var(--white);
  width: 100%;
  text-align: center;
  margin-top: 13px;
}

hr {
  color: var(--black);
  opacity: 0.4;
}

/* Hero Section */
.heroSection {
  width: 90%;
  margin: 150px auto 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroTitle {
  width: 54%;
}

.heroTitle h1 {
  font-family: "Roboto", sans-serif;
  color: #242424;
  font-size: 4rem;
  line-height: 80px;
  margin: 10px;
  text-align: start;
}

h1 > span {
  color: var(--orange);
}

.heroText {
  width: 50%;
  color: var(--lightGray);
  line-height: 32px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 40px;
}

a.ctaBtn {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 12px 30px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.banner {
  position: absolute;
  right: 10px;
  bottom: -120px;
}

.bannerImg {
  max-width: 100%;
  width: 740px;
  height: 440px;
}

/* Counter Area */
.counterSectionParent {
  height: 200px;
  background: url("./Assets//Images/ppp.jpg");
  background-size: cover;
  background-position: center;
  margin: 250px 0 100px 0;
}

.counterSection {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 81, 101, 0.8);
}

.counterSectionText {
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.counterSectionNumbers {
  color: var(--orange);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
}

.counterSectionTitle {
  color: var(--white);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}

/* Choose us Section */
.chooseUsSection {
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.chooseUsSectionTitles,
.servicesSectionTitles {
  width: 60%;
  margin: auto;
}

.chooseUsSectionTitle,
.servicesSectionTitle {
  font-size: 1.1rem;
  text-align: center;
  line-height: 22px;
  font-weight: 500;
  color: var(--red);
  margin: 0px 0px 8px;
}

.chooseUsSectionDescription,
.servicesSectionDescription {
  color: var(--black);
  font-family: sans-serif;
  font-size: 2.2rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.chooseUsCardsParent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 30px;
}

.chooseUsCards {
  width: 100%;
  padding: 30px;
}

.chooseUsCardIcon {
  border-radius: 50%;
  margin-bottom: 20px;
}

.chooseUsCardTitle {
  color: var(--black);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0px 0px 15px;
}

.chooseUsCardContent {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

/* Our Services */

.servicesSectionParent{
  width: 100%;
  margin: auto;
}

.servicesSection {
  width: 90%;
  margin: 120px auto;
}

.serviceCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0px 50px 0px;
}

.serviceCard {
  height: auto;
  margin-left: 15px;
  border-radius: 8px;
  text-align: center;
  padding: 0px 3px;
}

.serviceCard:hover .serviceName {
  color: var(--white);
}

.serviceCard:hover .serviceDescription {
  color: var(--white);
}

.serviceCard:hover .serviceDetailsLink {
  color: var(--white);
}

#carWashing,
#officeCleaning {
  border: 1px solid var(--orange);
  transition: background-color 1s;
}

#carWashing:hover {
  background-color: var(--orange);
}

#officeCleaning:hover {
  background-color: var(--orange);
}

#plumbingService,
#carpetCleaning {
  border: 1px solid var(--lightBlue);
  transition: background-color 1s;
}

#plumbingService:hover {
  background-color: var(--veryLightBlue);
}

#carpetCleaning:hover {
  background-color: var(--veryLightBlue);
}

#houseCleaning,
#windowCleaning {
  border: 1px solid var(--pink);
  transition: background-color 1s;
}

#houseCleaning:hover {
  background-color: var(--pink);
}

#windowCleaning:hover {
  background-color: var(--pink);
}

.serviceImg {
  max-width: 90%;
  display: block;
  margin: 35px auto;
}

.serviceName {
  color: var(--black);
  font-size: 1.4rem;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  font-family: sans-serif;
}

.serviceDescription {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 27px;
  margin: 8px 0px 12px;
  padding: 0 5px;
  font-weight: 400;
}

.serviceDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About Us Section */

.aboutUsSectionParent {
  background-color: var(--veryLightGray);
  height: auto;
}

.aboutUsSection {
  width: 90%;
  height: 100%;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.aboutUsText {
  width: 50%;
  height: 100%;
}

.aboutUsSectionTitle {
  color: var(--red);
  font-size: 0.9rem;
  margin: 15px 0px 8px;
  font-weight: 600;
}

.aboutUsSectionIntro {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
}

.aboutUsDescription {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 25px;
  margin: 0px 0px 30px;
  font-weight: 400;
}

.aboutUsLearnMore {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 12px 30px;
  font-weight: 400;
  color: var(--white);
}

.aboutUsImgParent {
  width: 50%;
  height: 100%;
}

.aboutUsImg {
  max-width: 100%;
  height: auto;
}

/* Book a quote section */

.quoteSectionParent {
  height: 100vh;
  margin: 70px 0px 20px 0px;
  background: url("./Assets/Images/pppp.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.formQuoteSection {
  width: 90%;
  margin: auto;
}

.formQuoteSectionTitle {
  width: 50%;
  margin: 0 auto 20px auto;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.formQuoteParent {
  width: 65%;
  margin: auto;
}

.formQuote {
  width: 100%;
  margin: auto;
  text-align: center;
}

.inputParents {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.leftSide,
.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input.formQuoteInput {
  width: 70%;
  padding: 15px 0;
  outline: transparent;
  border-style: none;
  border-radius: 4px;
  font-size: 1rem;
  padding-left: 7px;
}

input.formQuoteInput:focus {
  border: 1px solid var(--orange);
}

input.formQuoteInput::placeholder {
  padding-left: 10px;
}

textarea.formQuoteInput {
  outline: transparent;
  border-style: none;
  border-radius: 4px;
  font-size: 1rem;
  padding-left: 7px;
}

textarea.formQuoteInput:focus {
  border: 1px solid var(--orange);
}

textarea.formQuoteInput::placeholder {
  padding-left: 10px;
}

.formQuoteBtn {
  background-color: var(--red);
  font-size: 0.9rem;
  padding: 16px 30px;
  font-weight: 400;
  color: var(--white);
  outline: transparent;
  border-style: none;
  border-radius: 3px;
  width: 40%;
  margin: auto;
  cursor: pointer;
  transition: background-color 1s;
}

.formQuoteBtn:hover {
  background-color: var(--black);
}

/* Review Section */

.reviewSectionParent {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 80px auto 10px auto;
}

.reviewSectionTitle {
  color: var(--red);
  font-size: .9rem;
  line-height: 22px;
  margin: 0px 0px 8px;
  font-weight: 600;
  text-align: center;
}

.reviewSectionIntro {
  color: var(--black);
  font-family: sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.reviewSection {
  margin: 5px 15px;
  width: 100%;
  height: 70vh;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.reviewSection::-webkit-scrollbar {
  display: none;
}

.reviewCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: none;
  margin: 10px auto;
}

.reviewImg {
  border-radius: 50%;
}

.reviewText {
  margin: 0 5px;
  text-align: center;
}

.reviewerName {
  color: var(--veryLightBlue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 28px;
  margin-top: 8px;
  font-weight: 600;
}

.review {
  color: var(--lightGray);
  font-size: .9rem;
  line-height: 27px;
  font-weight: 400;
  margin: 2px 3px;
}

.scrollBtns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.scrollBtn {
  background-color: var(--pink);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--veryLightBlue);
  margin: 100px 0 0 0;
  padding-bottom: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.companyFooterDescription {
  color: var(--white);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

.footerColumn {
  margin: 50px 0px 0px 10px;
}

.footerColumnTitle {
  color: var(--orange);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin: 10px 0px 20px;
  font-weight: 700;
}

.supportListItem,
.location,
.email,
.mobile {
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  padding-top: 5px;
  color: var(--white);
}

.contactIcons {
  margin: 10px 0;
}

.socialIcons {
  background-color: var(--white);
  cursor: pointer;
  margin: 0 5px;
}

/* About Us Page */
.aboutUsPageSectionParent {
  height: auto;
}

.aboutUsPageSection {
  width: 90%;
  height: 100%;
  margin: 60px auto 50px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.aboutUsPageText {
  width: 50%;
  height: 100%;
}

.aboutUsPageSectionTitle {
  color: var(--red);
  font-size: 0.9rem;
  margin: 15px 0px 8px;
  font-weight: 600;
}

.aboutUsPageSectionIntro {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: 700;
}

.aboutUsPageDescription {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 25px;
  margin: 0px 0px 30px;
  font-weight: 400;
}

.aboutUsPageImgParent {
  width: 50%;
  height: 100%;
}

.aboutUsPageImg {
  max-width: 100%;
  height: auto;
}

.missionVisionSectionParent {
  width: 90%;
  margin: 10px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mission,
.vision {
  width: 50%;
}

.missionTitle,
.visionTitle {
  color: var(--red);
  font-size: 1rem;
  line-height: 22px;
  margin: 0px 0px 8px;
  font-weight: 600;
  text-align: start;
}

.missionText,
.visionText {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 28px;
  margin: 0px 0px 30px;
  font-weight: 400;
}

/* Core values Section */
.coreValuesSectionParent {
  width: 90%;
  margin: 40px auto 10px auto;
}

.coreValuesTitle {
  color: var(--red);
  font-size: 1rem;
  line-height: 22px;
  margin: 0px 0px 8px;
  font-weight: 600;
  text-align: center;
}

.coreValuesIntro {
  color: var(--black);
  font-family: sans-serif;
  font-size: 2.2rem;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
  width: 40%;
  margin: 15px auto;
}

.coreValuesCardsParent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 30px;
}

.coreValuesCards {
  width: 100%;
  padding: 30px;
}

.valueIcon {
  border-radius: 50%;
  margin-bottom: 8px;
}

.valueTitle {
  color: var(--black);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0px 0px 15px;
}

.valueText {
  color: var(--lightGray);
  font-size: 0.9rem;
  line-height: 27px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
    margin: 0 auto;
  }

  .navListContainer {
    display: none;
  }

  .menuIconContainer {
    display: block;
    cursor: pointer;
  }

  .xIcon {
    display: none;
  }

  /* hero section */
  .heroSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 100px 0 50px 0;
  }

  .heroSectionText {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
  }

  .heroTitle h1.heroTitleText {
    width: 100%;
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
  }

  p.heroText {
    width: 100%;
    font-size: .9rem;
    line-height: 28px;
    text-align: center;
  }

  .bannerImg {
    max-width: 100%;
    height: 100%;
  }

  /* Choose Us Section */
  .chooseUsSection {
    width: 100%;
    height: auto;
    margin: 1px auto;
  }

  .chooseUsSectionTitles {
    width: 100%;
    margin: auto;
  }

  .chooseUsSectionTitle {
    font-size: 0.9rem;
  }

  h2.chooseUsSectionDescription {
    font-size: 1.1rem;
    line-height: 22px;
    margin: 0 3px;
  }

  .chooseUsCardsParent {
    width: 100%;
    display: block;
    margin-top: 30px;
  }

  .chooseUsCards {
    text-align: center;
  }

  .chooseUsCardTitle {
    font-size: 1.1rem;
  }

  .chooseUsCardContent {
    font-size: 0.9rem;
  }

  /* Service Section */
.servicesSectionParent{
  width: 100%;
  margin: auto;
}

  .servicesSection {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicesSectionTitles {
    width: 100%;
    margin: auto;
  }

  p.servicesSectionTitle {
    font-size: 0.9rem;
  }

  h2.servicesSectionDescription {
    font-size: 1.1rem;
    line-height: 22px;
    margin: 0 3px;
  }

  .serviceCards {
    display: block;
    margin: 20px 0px 30px 0px;
  }

  .serviceCard {
    margin-top: 20px;
  }

  .serviceName {
    font-size: 1.2rem;
    line-height: 22px;
  }

  /* About Section */

  div.aboutUsSectionParent {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto !important;
    background-color: var(--white);
  }

  .aboutUsSection {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .aboutUsText {
    width: 100%;
    height: 100%;
  }

  .aboutUsSectionIntro {
    font-size: 1.3rem;
    line-height: 40px;
  }

  p.aboutUsDescription {
    font-size: .9rem;
    margin: 8px 8px 20px 8px;
    text-align: center;
    line-height: 28px;
  }

  .aboutUsLearnMore {
    background-color: var(--red);
    font-size: 0.9rem;
    padding: 8px 20px;
    font-weight: 400;
    color: var(--white);
  }

  .aboutUsImgParent {
    display: none;
  }

  /* Form Section */

  div.quoteSectionParent {
    height: 130vh;
  }

  .formQuoteSection {
    width: 95%;
  }

  .formQuoteSectionTitle {
    width: 90%;
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 5px;
  }

  .formQuoteParent {
    width: 100%;
    margin: auto;
  }

  .formQuote {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .inputParents {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .leftSide,
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  input.formQuoteInput {
    width: 90%;
    font-size: 0.8rem;
    padding: 18px !important;
    margin: 0 3px;
  }

  input.formQuoteInput::placeholder {
    font-size: 0.8rem;
  }

  textarea.formQuoteInput {
    width: 90%;
    margin: auto;
    font-size: 0.9rem;
  }

  textarea.formQuoteInput::placeholder {
    font-size: 0.8rem;
  }

  .formQuoteBtn {
    padding: 16px 5px !important;
    font-size: 0.9rem !important;
    width: 40% !important;
  }

  /* Review Section */

  .reviewSectionParent {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 80px auto 10px auto;
  }

  .reviewSectionTitle {
    color: var(--red);
    font-size: 0.9rem;
    line-height: 22px;
    margin: 0px 0px 8px;
    font-weight: 600;
    text-align: center;
  }

  .reviewSectionIntro {
    color: var(--black);
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
  }

  .reviewSection {
    margin: 5px 15px;
    height: 45vh;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
  }

  .reviewSection::-webkit-scrollbar {
    display: none;
  }

  .reviewCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: none;
    margin: 10px auto;
  }

  .reviewImg {
    border-radius: 50%;
  }

  .reviewText {
    margin: 0 5px;
    text-align: center;
  }

  .reviewerName {
    color: var(--veryLightBlue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 8px;
    font-weight: 600;
  }

  .review {
    color: var(--lightGray);
    font-size: .9rem;
    line-height: 27px;
    font-weight: 400;
    margin: 2px 3px;
  }

  .scrollBtns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .scrollBtn {
    width: 30px;
    height: 30px;
    background-color: var(--pink);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* About Us Page */
  div.aboutUsPageSection {
    width: 90%;
    flex-direction: column-reverse;
    gap: 35px;
    margin-bottom: -50px;
  }

  .aboutUsPageSectionIntro {
    font-family: sans-serif;
    font-size: 1.3rem;
    margin: 5px 0;
  }

  .aboutUsPageDescription {
    margin: 5px auto;
  }

  div.missionVisionSectionParent {
    width: 95%;
    gap: 5px;
  }

  .mission,
  .vision {
    width: 100%;
    text-align: start;
  }

  h3.missionTitle,
  h3.visionTitle {
    text-align: start;
  }

  p.missionText,
  p.visionText {
    text-align: start;
  }

  /* Core values Section */
  .coreValuesSectionParent {
    width: 90%;
    margin: 40px auto 10px auto;
  }

  .coreValuesTitle {
    color: var(--red);
    font-size: 1rem;
    line-height: 22px;
    margin: 0px 0px 8px;
    font-weight: 600;
    text-align: center;
  }

  h3.coreValuesIntro {
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 40px;
    width: 95%;
  }

  div.coreValuesCardsParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h3.valueTitle {
    font-size: 1.1rem;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1010px) {
  /* hero section */
  .heroSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 100px 0 50px 0;
  }

  .heroSectionText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h1.heroTitleText {
    font-size: 37px;
    line-height: 49px;
    text-align: center;
    width: 70%;
    margin: 40px auto 20px auto;
  }

  .heroText {
    font-size: 1rem;
    line-height: 28px;
    text-align: center;
    width: 70%;
  }

  a.ctaBtn {
    font-size: 0.8rem;
    padding: 10px 28px;
    text-align: center;
  }

  .banner {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }
  .bannerImg {
    max-width: 100%;
  }

  /* Counter Section */
  .counterSectionParent {
    margin: 100px 0;
  }
  .counterSectionText {
    grid-template-columns: auto auto;
    align-items: center;
  }

  .counterSectionNumbers {
    font-size: 1.9rem;
  }

  /* Choose Us Section */
  .chooseUsSection {
    width: 100%;
    height: auto;
    margin: 1px auto;
  }

  .chooseUsSectionTitles {
    width: 100%;
    margin: auto;
  }

  .chooseUsSectionTitle {
    font-size: 1rem;
  }

  h2.chooseUsSectionDescription {
    font-size: 1.4rem;
    line-height: 27px;
    margin: 0 3px;
  }

  .chooseUsCardsParent {
    grid-template-columns: 1fr;
  }

  .chooseUsCards {
    text-align: center;
  }

  .chooseUsCardTitle {
    font-size: 1.2rem;
  }

  .chooseUsCardContent {
    font-size: 1rem;
  }

  /* Services Section */

  .servicesSection {
    margin: 30px;
  }

  .servicesSectionTitles {
    width: 100%;
    margin: auto;
  }

  p.servicesSectionTitle {
    font-size: 1rem;
    margin: 15px 0;
  }

  h2.servicesSectionDescription {
    font-size: 1.4rem;
    line-height: 24px;
    margin: 5px;
  }

  .serviceCards {
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px 50px 0px;
  }

  .serviceName {
    font-size: 1.3rem;
    line-height: 27px;
  }

  .serviceDescription{
    font-size: .9rem;
  }

  /* About Section */

  .aboutUsSectionParent {
    width: 100%;
    background-color: var(--white);
    margin-top: 65px;
  }

  .aboutUsSection {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .aboutUsText {
    width: 100%;
    height: 100%;
  }

  .aboutUsSectionIntro {
    font-size: 1.8rem;
    line-height: 40px;
    margin: 6px 0;
  }

  .aboutUsDescription {
    margin: 0 5px 30px 5px;
  }

  .aboutUsLearnMore {
    background-color: var(--red);
    font-size: 0.9rem;
    padding: 10px 22px;
    font-weight: 400;
    color: var(--white);
  }

  .aboutUsImgParent {
    width: 100%;
    height: 100%;
    display: none;
  }

  /* Form Section */

  .quoteSectionParent {
    height: auto;
  }

  .formQuoteSection {
    width: 99%;
  }

  .formQuoteSectionTitle {
    width: 100%;
    font-size: 1.8rem;
    line-height: 38px;
    margin: 40px 2px;
  }

  .formQuoteParent {
    width: 100%;
    margin: auto;
  }

  .formQuote {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .inputParents {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }

  .leftSide,
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  input.formQuoteInput {
    width: 90%;
    font-size: 1rem;
    padding: 20px 7px;
    margin: 0 3px;
  }

  textarea.formQuoteInput {
    width: 90%;
    margin: auto;
    font-size: 1rem;
    padding: 8px;
  }

  .formQuoteBtn {
    padding: 23px;
    width: 40%;
    font-size: 1rem;
    margin: 10px auto 50px auto;
  }

  /* Footer */
  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  /* About Us Page */

  .aboutUsPageSection {
    width: 95%;
    flex-direction: row-reverse;
  }

  .aboutUsPageText {
    width: 100%;
  }

  .aboutUsPageSectionTitle {
    font-size: 0.9rem;
    margin-top: -4px;
  }

  .aboutUsPageSectionIntro {
    font-size: 1.9rem;
    line-height: 40px;
  }

  .aboutUsPageDescription {
    line-height: 30px;
  }

  .aboutUsPageImgParent {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
  }

  .aboutUsPageImg {
    max-width: 100%;
    height: auto;
  }

  .missionVisionSectionParent {
    width: 100%;
    margin: 80px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .mission,
  .vision {
    width: 95%;
  }

  .missionTitle,
  .visionTitle {
    text-align: center;
  }

  .missionText,
  .visionText {
    text-align: center;
  }

  /* Core values Section */
  .coreValuesSectionParent {
    width: 95%;
    margin: 40px auto 10px auto;
  }

  .coreValuesIntro {
    color: var(--black);
    font-family: sans-serif;
    font-size: 1.9rem;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin: 15px auto 5px auto;
  }

  .coreValuesCardsParent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 10px auto;
  }

  .coreValuesCards {
    width: 100%;
    padding: 30px;
  }

  .valueIcon {
    border-radius: 50%;
    margin-bottom: 8px;
  }

  .valueTitle {
    color: var(--black);
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 25px;
    margin: 0px 0px 15px;
  }

  .valueText {
    color: var(--lightGray);
    font-size: 0.9rem;
    line-height: 27px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1245px) {
  .banner {
    position: absolute;
    right: 10px;
    bottom: 50px;
  }
}
